* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Italianno', cursive; */
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.ita-header {
  color: #fff;
  background-color: #CA6100;
  padding: 10px;
}

.ita-logo a {
  font-family: 'Italianno', cursive;
  font-size: 2.8rem;
  color: #fff;
  text-decoration: none;
}

.ita-header ul li {
  list-style-type: none;
}

.ita-header li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  transition: .5s ease-in-out;
}

.ita-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 400px;
  background: linear-gradient(180deg, rgba(255,255,255,.8), rgba(255,0,0,0) 90.71%),
              url(../images/hero-banner-bg.jpg) center center;
  background-size: cover;
  padding: 10px;
}

.ita-content h1 {
  color: #CA6100;
  font-family: 'Italianno', cursive;
  font-size: calc(4rem + 2vw);
  font-weight: 400;
  line-height: 1;
}

.ita-content h3 {
  font-size: calc(1.2rem + .4vw);
  font-weight: 100;
}

.ita-content button a {
  color: #fff;
  text-decoration: none;
}

.ita-content button {
  background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}
  
.ita-content button {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;            
  /* box-shadow: 0 0 2px  rgb(92, 92, 92); */
  border-radius: 50px;
  display: block;
  border: none;
  cursor: pointer;
}

.ita-content button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.ita-content button:focus {
  outline: 0;
}

.ita-original {
  padding: 40px 10px;
}

.ita-original-image img {
  width: 100%;

}

.ita-original-content h2 {
  color: #CA6100;
  font-family: 'Italianno', cursive;
  font-size: calc(2.4rem + 1vw);
  font-weight: 400;
  line-height: 1;
  margin-top: 10px;
}

.ita-original-content p {
  font-size: calc(1rem + .1vw);
}

@media(min-width: 768px){
  nav {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
  }

  .ita-header li a {
    padding: 34px 20px;
    transition-duration: 100ms;
  }

   .ita-header li a:hover {
    background-color: #ffffff2a;
    /* color: #CA6100; */
    /* background-color: rgba(255, 255, 255, 0.479); */
  }

  .ita-container {
    align-items: center;
    min-height: 600px; 
  }

  .ita-content {
    width: 1000px;
    margin: 0 auto;
  }

  .ita-original {
    width: 100%;
    padding: 100px 30px;
    margin: 0 auto;
  }

  .ita-original-column {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .ita-original-image img {
    width: 400px;
  }

  .ita-original-content {
    padding: 50px 0 50px 50px;
  }
}

@media(min-width: 1024px){
   nav {
    display: flex;
    width: 1100px;
    margin: 0 auto;
  }

  .ita-original {
    width: 900px;
    padding: 100px 30px;
    margin: 0 auto;
  }

  .ita-original-column {
    width: 900px;
  }
}
          
         