* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Italianno', cursive; */
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

body, html {
  scroll-behavior: smooth;
}

.ita-header {
  color: #fff;
  background-color: #CA6100;
  /* padding: 10px; */
}

.ita-logo a {
  font-family: 'Italianno', cursive;
  font-size: 2.8rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.ita-logo {
  margin: 10px 0 0 10px;
}

.ita-header ul li {
  list-style-type: none;
}

.ita-header li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #CA6100;
  transition-duration: 100ms;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.ita-toggle-btn {
 color: #fff;
 font-size: 22px;
}

.ita-navmenu {
  display: none;
}

.ita-navmenu li {
  padding: 14px;
  z-index: 100;
  
  transition-duration: 100ms;
  cursor: pointer;
}

.ita-navmenu li:hover {
  width: 100%;
  
  background-color: #ffe9d4;
}

.ita-navmenu li:hover a {
  color: #CA6100;
}

.ita-navmenu {
  position: absolute;
  top: 4.6rem;
  right: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);                    
}

.ita-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 400px;
  background: linear-gradient(180deg, rgba(255,255,255,.8), rgba(255,0,0,0) 90.71%),
              url(../images/hero-banner-bg.jpg) center center;
  background-size: cover;
  padding: 10px;
}

.ita-content h1 {
  color: #EA4C20;
  font-family: 'Italianno', cursive;
  font-size: calc(4rem + 1vw);
  font-weight: 400;
  line-height: 1;
}

.ita-content h3 {
  font-size: calc(1.2rem + .2vw);
  font-weight: 100;
}

.ita-content button a {
  color: #fff;
  text-decoration: none;
}

.ita-content button {
  background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}
  
.ita-content button {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;           
  border-radius: 5px;
  display: block;
  border: none;
  cursor: pointer;
}

.ita-content button:hover {
  background-position: right center; /* change the direction of the gradient here */
  color: #fff;
  text-decoration: none;
}

.ita-content button:focus {
  outline: 0;
}

.ita-original {
  padding: 40px 10px;
}

.ita-original-image img {
  width: 100%;
  border-radius: 10px;
}

.ita-original-content h2 {
  color: #EA4C20;
  font-family: 'Italianno', cursive;
  font-size: calc(2.4rem + .8vw);
  font-weight: 400;
  line-height: 1;
  margin-top: 10px;
}

.ita-original-content p {
  font-size: calc(1.2rem + .1vw);
  font-weight: 100;
}

.ita-menu {
  padding: 40px 10px;
  background-color: #ffe9d4;
}

.ita-cuisine_box {
  margin: 40px 20px;
  background-color: #fff;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.199);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.ita-cuisine_box img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
  border-radius: 5px 5px 0 0;
  display: block;
}

.ita-cuisine_box:hover img {
  transform: scale(1.2);
}

.ita-cuisine_box h4 {
  color: #fff;
  background-color: rgba(234, 76, 32, 0.815);
  font-family: 'Lato', sans-serif;
  font-size: calc(1.4rem + .1vw);
  text-align: center;
  display: none;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.ita-cuisine_box:hover h4 {
  display: block;
}

.ita-about {
  background-color: #fff;
  padding: 40px 10px;
}

.ita-about-image img {
  width: 100%;
  border-radius: 5px;
}

.ita-about-content h3 {
  color: #EA4C20;
  font-family: 'Italianno', cursive;
  font-size: calc(2.4rem + .1vw);
  font-weight: 400;
  margin-top: 10px;
}

.ita-about-content h5 {
  color: #EA4C20;
  /* font-family: 'Lato', cursive; */
  font-size: calc(1rem + .1vw);
  font-weight: 400;
}

.ita-about-content p {
  font-size: calc(1.2rem + .1vw);
  font-weight: 100;
  margin-top: 10px;
}

.ita-contact {
  background-color: #fff;
  padding: 40px 30px;
}

.ita-contact-image img {
  width: 100%;
  border-radius: 10px;
}

.ita-contact-form h3 {
  color: #EA4C20;
  font-family: 'Lato', cursive;
  font-size: calc(1.6rem + .1vw);
  font-weight: 900;
}

.ita-contact-form {
  width: 100%;
  padding: 10px 0;
}

.ita-contact-form form {
  width: 100%;
}

.ita-contact-form button, input, textarea {
  /* font-family: 'Lato', cursive; */
  font-size: calc(1.2rem + .1vw);
  padding: 20px 10px;
  width: 100%;
  border: 0;
  resize: vertical;
  color: gray;
  background-color: #ffe9d4;
  margin: 10px 0;
  border-radius: 5px;
}

input::placeholder, textarea::placeholder {
  color: #a0a0a0;
  font-style: italic;
}

input:focus, textarea:focus {
  color: #a0a0a0;
  outline: none;
}

.ita-contact-form button {
  background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}
  
.ita-contact-form button {
  color: #fff;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 5px;
  display: block;
  border: none;
  cursor: pointer;
}

.ita-contact-form button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.ita-footer {
  background-color: #fff;
  padding: 40px 10px;
  box-shadow: 0 0 22px #5353531a;
}

.ita-footer-copyright {
  color: #fff;
  text-align: center;
  background-color:#535353;
  padding: 40px;
  transition-duration: 500ms;
}

.ita-footer-content {
  text-align: center;
}

.ita-footer-content h3 {
  color: #5f5f5f;
  font-size: 1.5rem;
  line-height: 2;
}

.ita-footer-socialmedia-icons ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.ita-footer-socialmedia-icons li {
  padding: 10px;
  margin-top: 10px;
} 

.ita-footer-socialmedia-icons i{
  color: #535353;
  transition-duration: 500ms;
}

.ita-footer-socialmedia-icons i:hover {
  color: #CA6100;
}

.ita-logo {
  margin: 0;
  text-align: center;
}

.ita-logo img {
  margin-top: 10px;
  width: 120px;
   filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  transition-duration: 500ms;
}

.ita-logo img:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}

@media(min-width: 768px){
  .ita-header {
    width: 100%;
    /* padding: 10px; */
  }

  .ita-header li a {
    color: #fff;
  }

  nav {
    display: flex;
    margin: 0 auto;
  }

  .ita-toggle-btn {
    display: none;
  }

  .ita-navmenu {
    all: unset;
  }

  .ita-header ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
  }

  .ita-header li a {
    /* padding: 34px 20px; */
    transition-duration: 100ms;
  }

  .ita-logo {
    display: flex;
    align-items: center;
  }

  .ita-navmenu {
    display: flex !important;
    padding: 0;
  }

  .ita-navmenu li a {
    transition-duration: 100ms;
  }

  .ita-header li a:hover {
    background-color: #ffe9d450; 
  }

  .ita-navmenu li {
    padding: 27px 30px;
  }

  .ita-container {
    align-items: center;
    min-height: 600px; 
  }

  .ita-content {
    width: 1000px;
    margin: 0 auto;
  }

  .ita-original {
    width: 100%;
    padding: 100px 30px;
    margin: 0 auto;
  }

  .ita-original-column {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .ita-original-image img {
    width: 400px;
  }

  .ita-original-content {
    padding: 50px 0 50px 50px;
  }

  .ita-menu {
    padding: 100px 0;
  }

  .ita-menu-cuisine {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
  }

  .ita-cuisine_box {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
  }

  .ita-about {
    width: 100%;
    padding: 100px 30px;
    margin: 0 auto;
  }

  .ita-about-column {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .ita-about-image img {
    width: 400px;
    transition-duration: .3s;
  }

  .ita-about-image:hover img {
    width: 400px;
    box-shadow: -32px 33px 1px #ea4c20c5;
  }

  .ita-about-content {
    padding: 20px 0 50px 50px;
  }

  .ita-contact {
    width: 100%;
    padding: 100px 30px;
    margin: 0 auto;
  }

  .ita-contact-column {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.199);
  }

  .ita-contact-image img {
    width: 100%;
    transition-duration: 500ms;
    border-radius: 5px;
  }

  .ita-contact-form {
    padding: 0 0 0 20px;
  }

  .ita-contact-form button, input, textarea {
    padding: 14px 10px;
    margin-top: 6px;
  }

  .ita-footer {
    width: 100%;
    padding: 100px 30px;
    margin: 0 auto;
  }

  .ita-footer-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  .ita-footer-content {
    text-align: left;
  }
}

@media(min-width: 1024px){
   nav {
    width: 60%;
  }

  .ita-original {
    padding: 100px 20px;
    margin: 0 auto;
  }

  .ita-original-column {
    width: 900px;
  }

  .ita-menu-cuisine {
    width: 1000px;
  }

  .ita-about {
    padding: 100px 20px;
    margin: 0 auto;
  }

  .ita-about-column {
    width: 1000px;
  }

  .ita-contact {
    padding: 100px 20px;
    margin: 0 auto;
  }

  .ita-contact-column {
    width: 800px;
    padding: 20px 30px;
  }

  .ita-contact-image img {
    width: 100%;
  }

  .ita-contact-image {
    width: 60%;
  }

  .ita-contact-form {
    width: 50%;
  }

  .ita-footer {
    padding: 100px 20px;
    margin: 0 auto;
  }

  .ita-footer-column {
    width: 70%;
    padding: 20px 30px;
  }
}